<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Agriculture</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Agriculture", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Home", "Agriculture", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Irrigation<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Drip irrigation", "DripIrrigation", "Home")</li>
                            <li>@Html.ActionLink("Sprinkler irrigation", "SprinklerIrrigation", "Home")</li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Seeds", "Index", "UserSeed")</li>
                            <li>@Html.ActionLink("Machines", "Index", "UserMachine")</li>
                            <li>@Html.ActionLink("Fertilizers", "Index", "UserFertilizer")</li>
                            <li>@Html.ActionLink("Pestisides", "Index", "UserPestiside")</li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cattle<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Cow", "Cow", "Home")</li>
                            <li>@Html.ActionLink("Sheep", "Sheep", "Home")</li>
                            <li>@Html.ActionLink("Goat", "Goat", "Home")</li>
                        </ul>
                    </li>
                   
                    <li>@Html.ActionLink("Poultry", "Poultry", "Home")</li>
                    <li>@Html.ActionLink("Sericulture", "Sericulture", "Home")</li>
                    

                </ul>
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
